/* general */
body{
    margin: 0px;
    overflow-x: hidden;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color:#1B1C57;
}
video::-webkit-media-controls-panel {
    display: none !important;
    /* Add any additional styling as needed */
  }
  
button{
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
}
/* section 1 */
.header{
    display: flex;   
    height: 95vh;
}
.header_special{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.background_gradient{
    position: absolute ;
    left: 0;
    top: 0;
    z-index: -1;
}

.header_section_1{
    width: 50%;
}
.header_info{
    margin: 65px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo_div{
    margin-left: 60px;
    padding-top: 30px;
}
.header_section_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 50%;
}
.title_div > h1{
    font-size: 40px;
}
.title_div >span{
    color:  #626687;
}
.search_div_header{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 20px;
    max-width: 450px;
    background-color: white;
    gap: 5px;
    height: 40px;
}

.imglogo{
    width: 45px;
    height: 45px;
}
.search_div_header > input{
    border: none;
    flex: 1;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
.search_div_header > button{
    background-color: #10B981;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 2px;
    padding: 5px 10px;
    width: 80px;
    color: white;
}
.search_div_header > img{
    width: 20px;
    padding-left: 10px;
}

.partners_div{
    margin-top: 30px;
    color: #626687;
    font-size: 16px;
}
.partners_div > div{
   display: flex;
   justify-content: space-between;
}
.navbar_header{
    padding-left: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.nav_button_header{
    border-radius: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    margin:10px;
    padding: 7px 13px;
} 
.nav_button_header_main{
    color: #047857;
    background-color: #D1FAE5;
    border: none;
    padding: 7px 13px;
    border-radius: 20px;
    margin: 10px;
    margin-left: 30px ;
}
.header_main_image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.cards_header {
    display: flex;
    padding: 10px;
    gap: 10px;
    margin: 10px;
}
.card_header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    justify-content: space-between;
    padding: 15px;
    gap: 5px;
}

.icon_card_header{
    width: 56px;
    height: 56px;
}
.icons_card_header{
    width: 112px;
    height: 50px;
}
.card_header_images{
    display: flex;
}
.card_header_texts{
    display: flex;
    flex-direction: column;
}

.card_header_text_main {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

 .card_header_text_sub {
    font-size: 8px;
    color: #626687;
 }
  

 /* section 2 */
 .special_text_div{
    margin: 50px 0 0 50px  ;
    display: flex;
    align-items: center;
    gap:10px;
}
.special_text_div>span{
    color: #F59E0B;
    font-size: 14px;
}
.section_2_nav{
    display: flex;
    padding: 10px;
    gap: 10%;
    margin: 7px 70px;
}
.section_2_nav >div> button{
    border-radius: 20px;
    white-space: nowrap;
}
.section_2_nav >h3{
    width: auto;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 600;
}
.section_2_nav >div{
    border-radius: 20px;
    border: none;
    display: flex;
    gap: 10px;
}
.section_2_nav_button{
    width:auto;
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #E0E3EB;
    color: #888B97;
}
.section_2_nav_button_green{
    width:auto;
    padding: 10px 15px;
    border: none;
    background-color: #D1FAE5;
    color: #10B981;
}
.section_2_nav_arrow_1{
    background-color: #E0E3EB;
    border: none;
    width: 50px;
    color: #3C4563;
}
.section_2_nav_arrow_2{
    background-color: #10B981;
    border: none;
    width: 50px;
    color: white;
}
.section_2_articles{
    display: flex;
    margin-left: 70px;
    gap:20px;
    width: 130%;
    height: 500px;
    gap: 30px;
}
.section_2_article{ 
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.section_2_article_image_div{
    position: relative;
}

.section_2_article_image_div>img{
    width: 100%;
    max-width: 340px;
    max-height: 350px;
    z-index: -1;
    object-fit: cover;
}
.section_2_article_image_flag{
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 7px 15px;
    color: #EF4444;
    background-color: #FEE2E2;
    border-radius: 20px;
}
.section_2_article_main_div{
    display: flex;
    flex-direction: column;
}
.section_2_article_main_text{
    font-size: 24px;
font-style: normal;
font-weight: 500;
}
.section_2_article_side_text{
    font-size: 20px;
font-style: normal;
font-weight: 500;
}
.section_2_article_personal{
    display: flex;
    gap: 10px;
}
.section_2_article_personal_text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.section_2_article_personal_main{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.section_2_article_personal_side{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: #888B97;
}

.section_2_article_personal_new{
    position: absolute;
    left: 16px;
    bottom: 20px;
    padding: 7px 15px;
    color: #1D4ED8;
    background-color: #DBEAFE;
    border-radius: 20px;
}
.section_2_article_personal_wallet{
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 7px 12px;
    color: #047857;
    background-color: #D1FAE5;
    border-radius: 20px;
}
.section_3_side_1{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 70px;
    width: 40%;
}
.section_3_main{
    display: flex;
}
.section_3{
    position: relative;

}
.section_3_features{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.section_3_feature{
    display: flex;
    align-items: center;
    gap: 10px;
}
.section_3_text_details{
    margin-top: 20px;
    color: #1B1C57;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.section_3_main_text{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}
.section_3_sub_text{
    color: #626687;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.section_3_texts{
    display: flex;
    flex-direction: column;
}
.section_3_line{
    margin-top: 20px;
}
.section_3_personal{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 10px;
    align-items: center;

}
.section_3_personal_texts{
    display: flex;
    flex-direction: column;
}

.section_3_personal_image>img{
    width: 50px;
    height: 50px;
}
.section_3_personal_text1{
color: var(--Neutral-900, #0E1735);
font-family: Lexend;
font-size: 18px;
font-style: normal;
font-weight: 500;
}
.section_3_personal_text2{
    color: var(--Neutral-500, #888B97);
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 500;
}
.section_3_personal_button{
    border-radius: 32px;
background: var(--Green-500, #10B981);
color: white;
padding: 8px 15px;
border: 0px;
align-items: center;
display: flex;
}
.section_3_side_2{
    position: relative;
    display: flex;
  flex-direction: column;
  margin: 20px;
}
.section_3_side_video{
    width: 100%;
}
.section_3_image_furniture_1{
    width: 45%;
    object-fit: fill;

}
.section_3_image_furniture_2{
    width: 20%;
    object-fit: fill;

}
.section_3_image_furniture_3{
    width: 20%;
    object-fit: fill;


}
.section_3_side_2_images{
    bottom: 0px;
    gap: 10px;
    width: 100%;
    margin-top: -100px;
}
/* section 4 */
.section_4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_4_special_text{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.section_4_special_text > h2{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}
.section_4_special_text_div{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}
.section_4_special_text_div>img{
    width: 30px;
    height: 2px;
}
.section_4_special_text_div>span{
    color: var(--Yellow-500, #F59E0B);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.section_4_articles{
    width: 120%;
    display: flex;
    gap: 5%;
    padding-top: 15px;
}
.section_4_article_personal{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
}
.section_4_article_main{
    max-width: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.section_4_article_sub_1{
    object-fit: cover;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.section_4_article_sub_2{
    object-fit: cover;

    width: 40%;
    display: flex;
    flex-direction: column;
}
.section_4_article_image{
    max-width: 500px;
    height: 250px;
    z-index: -1;
    object-fit: cover;
    border-radius: 20px;
}
.section_4_article_div_main{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin: 0px 30px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
}
.section_4_article_personal_name{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: flex-start;
}
.section_4_article_personal_text1{
    color: var(--Neutral-900, #0E1735);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
}
.section_4_article_personal_text2{
    color: var(--Neutral-500, #888B97);
font-family: Lexend;
font-size: 14px;
font-style: normal;
font-weight: 500;
white-space: nowrap;

}
.section_4_article_text{
    height: 120px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    gap: 10px;    
}
.section_4_article_text>h2{
    white-space: nowrap;
    color: var(--MRT-App-Headline, #1B1C57);
font-family: Lexend;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.section_4_article_text>span{
    color: var(--MRT-App-Neutral-01, #626687);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.section_4_pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.section_5_button_main{
    margin-top: 20px;
padding: 10px 14px;
align-items: center;
gap: 16px;
border-radius: 32px;
background: var(--Green-500, #10B981);
color: white;
border: none;
}
.section_5_main{
    display: flex;
}

.section_5_aside_1{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    gap: 20px;
}
.section_5_aside_2{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
}
.section_5_aside_2_image>img{
    width: 100%;
    object-fit: fill;
}
.section_5_aside_article{
    display: flex;
    justify-content: space-between;
}
.section_5_aside_article_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
}
.section_5_aside_personal{
    display: flex;
    gap: 10px;
    color: var(--MRT-App-Headline, #1B1C57);
    color: var(--Neutral-700, #3C4563);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    align-items: center;
}
.section_5_aside_main_text{
    color: var(--MRT-App-Headline, #1B1C57);
font-family: Lexend;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 177.778% */
}
.section_5_time_div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.section_5_time_div> time{
    color: var(--Neutral-500, #888B97);
font-family: Lexend;
font-size: 14px;
font-style: normal;
font-weight: 400;
}
.section_5_aside_1_image{
    width: 45%;
}
.section_5_aside_1_image >img{
width: 100%;
}
.section_5_aside_2_text{
display: flex;
flex-direction: column;
gap: 20px;
}
.section_5_aside_2_main_text{
color: var(--MRT-App-Headline, #1B1C57);
font-family: Lexend;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
}
.section_5_aside_2_personal{
    margin-top: 15px;
display: flex;
align-items: center;
gap: 10px;
    color: var(--Neutral-700, #3C4563);
font-family: Lexend;
font-size: 14px;
font-style: normal;
font-weight: 400;
}
.section_5_aside_2_sub_text{
    color: var(--MRT-App-Neutral-01, #626687);
font-family: Lexend;
font-size: 14px;
font-style: normal;
font-weight: 400;
}

/* section 6 */
.section_6{
    position: relative;
    display: flex;
    align-items: center;
    margin:40px 5%;
    padding: 10px;
    gap: 10px;
}
.section_6_background{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: fill;
}
.section_6_left{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.section_6_center{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.section_6_center>h1{
    color: var(--MRT-App-Headline, #1B1C57);
    text-align: center;
    font-family: Lexend;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 150% */}
.section_6_right{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.section_6_send{
    display: flex;
    gap: 10px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
}
.section_6_send>button{
    padding: 10px;
    color: white;
    background-color: #10B981;
    border: none;
    border-radius: 20px;
}
.section_6_send>input{
width: 70%;
border: none;
    flex: 1;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
/* section 7 */
.section_7{
    display: flex;
    margin: 50px 3% 0px 3%;
    position: relative;

}
.section_7_left{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    
}
.section_7_left > span{
    color: var(--MRT-App-Neutral-01, #626687);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    
}
.section_7_right{
    padding: 10px;
    width: 55%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.section_7_right > span{
    color: var(--MRT-App-Neutral-01, #626687);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.section_7_right_links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.section_7_right_links>span{
    color: var(--Neutral-900, #0E1735);
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.section_7_right_links>a{
    color: var(--Neutral-500, #888B97);
font-family: Lexend;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.section_7_social_nets{
display: flex;
align-items: center;
gap: 20px;
}
.section_7_logo{
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--MRT-App-Headline, #1B1C57);
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 700;
}
/* gradients */
.gradient_image_right{
    position: absolute;
    top: -150px;
    right: -50px;
    z-index: -1;
}
.gradient_image_right_1{
    position: absolute;
    right: -50px;
    top: -70%;
    height: 170%;
    width: 50%;
    z-index: -1;
}
.gradient_image_left{
    position: absolute;
    top: -150px;
    left: 0;
    z-index: -1;
}
.section_5{
    position: relative;
}